<div class="container mt-3">
  <h3 class="text-primary">Contact Info</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident adipisci molestiae at, culpa consectetur, officia, placeat magni quam illum accusantium tenetur molestias? Saepe magni itaque repellat eos aperiam maxime nam!</p>
  <table class="table table-striped border border-3">
  <thead>
    <tr class="bg-primary text-white">
    <th>Sno</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Phone</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let con of contactList">
    <td>{{con.sno}}</td>
    <td>{{con.name}}</td>
    <td>{{con.designation}}</td>
    <td>{{con.phone}}</td>
  </tr>
</tbody>
  </table>
</div>
