<div class="container mt-3">
  <div class="row">
    <div class="col-md-5 m-auto">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Login Here</h3>
        </div>
        <div class="card-body text-center bg-light">
          <form>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div>
              <input type="submit" class="btn btn-primary text-center" id="floatingLogin" value="Login">
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
